@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.asosiy{
    overflow: hidden;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.main_head_center{
    display: none;
}

.left_side{
    background-color: rgb(39, 39, 39);
    width: 30%;
    color: white;
}

.left_text{
    padding: 20% 10%;
}

.left_text h3{
    text-transform: uppercase;
    padding: 10% 0;
}

.left_text p{
    color: rgb(124, 124, 124);
}

.left_text hr{
    margin: 40px 0;
}

.left_text span{
    display: block;
    margin: 5px 0;
}

.left_text a{
    color: rgb(124, 124, 124);
    text-decoration: none;
}

.skill_name{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.skill_name progress{
    height: 1rem;
    text-align: center;
    color: white;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

progress::-moz-progress-bar { background: grey; }
progress::-webkit-progress-value { background: grey; }

/* end of left_side */

.main_side{
    overflow: hidden;
    position: relative;
    border: 3px solid #B1B1B1;
    padding: 5%;
    width: 70%;
}

.main_head span{
    font-size: 90px;
    display: block;
}

.main_head span:nth-child(1), .main_skills span{
    background-color: black;
    color: #fff;
    display: inline;
    padding: 0 30px;
    font-weight: bold;
}

.head_line{
    margin: 30px 0 0 0;
}

.main_skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_skill_left{
    width: 70%;
    padding: 30px;
}

.main_title{
    text-transform: uppercase;
    font-size: 40px;
    color: grey;
}

.main_interests{
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

.interest > *{
    text-align: center;
    display: block;
}

.interest i{
    font-size: 50px;
    padding: 10px;
}


/* responsive start */

@media screen and (max-width: 480px){
    .asosiy{
        flex-direction: column;
    }
    .left_side{
        width: 100%;
    }
    .main_side{
        width: 100%;
    }
    .main_head_center{
        text-align: center;
        font-size: 60px;
        display: block;
    }

    .main_head_center span{
        display: block;
    }
    
    .main_head_center span:nth-child(1), .main_skills span{
        background-color: black;
        color: #fff;
        display: inline;
        padding: 0 30px;
        font-weight: bold;
    }

    .main_head{
        display: none;
    }

    .main_skill_left{
        font-size: 70%;
    }
}

/* iPads and Tablets – 481px — 768px  */
@media screen and (min-width: 481px) and (max-width:768px){
    body{
        background-color: blue;
    }
    .asosiy{
        flex-direction: column;
    }
    .left_side{
        width: 100%;
    }
    .main_side{
        width: 100%;
    }
    .main_head_center{
        text-align: center;
        font-size: 60px;
    }

    .main_head_center span{
        display: block;
    }
    
    .main_head_center span:nth-child(1), .main_skills span{
        background-color: black;
        color: #fff;
        display: inline;
        padding: 0 30px;
        font-weight: bold;
    }

    .main_head{
        display: none;
    }

    .main_skill_left{
        font-size: 70%;
    }
}

/* Large screens and Desktops – 1025px — 1200px */
@media screen and (min-width: 769px) and (max-width:1024px){
    body{
        font-size: 90%;
        background-color: yellow;
    }

     
    .left_side{
        width: 100%;
    }
    .main_side{
        width: 100%;
    }
    .main_head_center{
        text-align: center;
        font-size: 60px;
    }

    .main_head_center span{
        display: block;
    }
    
    .main_head_center span:nth-child(1), .main_skills span{
        background-color: black;
        color: #fff;
        display: inline;
        padding: 0 30px;
        font-weight: bold;
    }

    .main_head span{
        font-size: 70px;
        display: block;
    }

    .main_skill_left{
        font-size: 70%;
    }
}